/* screen size variables */
$iphone678: 375px;
$iphone678Plus: 414px;
$sm: 600px;
$tabScreen: 768px;
$md: 900px;
$smallLapScreen: 1024px;
$mediumLapScreen: 1440px;
$largeLapScreen: 1536px;
$_2K: 2560px;

/* color codes */
$primary : #7FA7E7;
$secondary: #8AD7B3;
$purpleStone: #5E5364;